<ion-list>
  <ion-item class="p" detail (click)="opcion('editarPlatillo')">
    <ion-label>
      Editar
    </ion-label>
  </ion-item>

  <ion-item class="p" *ngIf="accesibilidadActual === 1" detail (click)="opcion('editarAccesibilidad',1)">
    <label >
      Cambiar accesibilidad a "oculta"
    </label>
  </ion-item>

  <ion-item class="p" *ngIf="accesibilidadActual === 0"  detail (click)="opcion('editarAccesibilidad',0)">
    <label>
      Cambiar accesibilidad a "pública"
    </label>
  </ion-item>

  <ion-item class="p" *ngIf="estadoActual === 0" detail (click)="opcion('editarEstado',0)">
    <label >
      Cambiar estado a "En Stock"
    </label>
  </ion-item>

  <ion-item class="p" *ngIf="estadoActual === 1" detail (click)="opcion('editarEstado',1)">
    <label>
      Cambiar estado a "Agotado"
    </label>
  </ion-item>

  <ion-item detail (click)="opcion('eliminar')">
    <ion-label color="danger">
      Eliminar
    </ion-label>
  </ion-item>
</ion-list>
