<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="img-fondo">
    <div class="fondo-blanco">

      <div class="p-4 text-center bg-white w-100">
        <h4>Crea una nueva cuenta</h4>
        <label>Crea una nueva cuenta para que puedas ingresar desde cualquier dispositivo.</label>
      </div>

      <div class="p-2 center w-100">

        <br color="dark">
        
        <br>
        
        <br>
        
    
      </div>
      
    </div>
  </div>   

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="validar()">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

