a{
    color: #3171e0 !important;
}

ion-label{
    font-size: 24px !important;
}

.azul{
    color: #3171e0 !important;
}

.icon-opc{
    color: white;
}

.btn-opc{
    position: absolute;
    right: 2%;
    margin-top: 290px;
}

img{
    min-height: 320px !important;
    max-height: 320px !important;
}

.barra-azul{
    border-radius: 10px,10px,10px,10px !important;
    width: 70% !important;
    color: black;
    background-color: rgb(255, 166, 49);
    position: relative;
    margin-top: -25px;
    z-index: 2;
    -webkit-box-shadow: -2px 8px 14px 1px rgba(0,0,0,0.64);
    -moz-box-shadow: -2px 8px 14px 1px rgba(0,0,0,0.64);
    box-shadow: -2px 8px 14px 1px rgba(0,0,0,0.64);
    

}

.precio{
    color: #44d1ea !important;
}

.desc{
    padding-left: 30px;
    padding-right: 20px;
}

label{
    font-size: 18px !important;
    color: black;
    font-family:Arial !important;
}

.nom-negocio{
    color: #44d1ea;
    cursor: pointer;
    text-decoration: none;
    font-family:Arial !important;
    line-height:19.32px;
    font-size:15px;
    font-weight:600;
}

.body{
    border-left-color:rgb(255, 166, 49);
    border-left-style:solid;
    border-left-width:3px;
    color:black;
    direction:ltr;
    display:block;
    font-family:Arial !important;
    font-size:16px;
    line-height:16.08px;
    margin-top:10px;
    overflow-wrap:break-word;
    padding-left:10px;
}

span{
    font-family:Arial !important;
    font-size:14px;
    line-height:16.08px;
    font-size:14px;
    color:rgb(29, 33, 41);
}

h6{
    font-family:Helvetica, Arial, sans-serif;
    font-size:20px;
    line-height:16.08px;
    color: #000000;
}

.hr{
    border: solid 1px rgb(204, 204, 204) !important;
}

.opciones{
    position: absolute;
    top: 15%;
    right: 5%;
    cursor: pointer;
    font-family:Helvetica, Arial, sans-serif;
    font-size:14px;
    line-height:16.08px;
    font-size:20px;
    color:rgb(29, 33, 41);
}

.btn-publicacion{
    align-items:center;
    color:rgb(96, 103, 112);
    cursor:pointer;
    direction:ltr;
    display:flex;
    flex-basis:0%;
    flex-grow:1;
    flex-shrink:0;
    font-family:Helvetica, Arial, sans-serif;
    font-size:15px;
    font-weight:600;
    height:36px;
    justify-content:center;
    line-height:14px;
    overflow-wrap:break-word;
    padding-bottom:0px;
    padding-left:2px;
    padding-right:2px;
    padding-top:0px;
    white-space:nowrap;
    transition: ease 500ms;
}

.btn-publicacion:active{
    transition: ease 500ms;
    background-color: rgb(96, 103, 112);
}

.footer{
    border: solid 1px rgb(204, 204, 204) !important;
}

.br{
    height: 20px;
    width: 100%;
    background-color:  #ebe9e9;
}

.tipo{
    font-size: 25px !important;
}

.label-slide{
    font-size: 15px !important;
}
.filtro{
    font-size: 30px !important;
}

.fab-opc{
    position: absolute;
    margin-top: 120px !important;
}

.sombra{
    position: absolute !important;
    top: 17%;
    height: 1px;
    width: 100%;
    -webkit-box-shadow: -1px 22px 14px 5px rgba(0,0,0,0.73);
    -moz-box-shadow: -1px 22px 14px 5px rgba(0,0,0,0.73);
    box-shadow: -1px 22px 14px 5px rgba(0,0,0,0.73);
}